/*---base styles-----*/
html,body{
    background-color: #6F8F72;
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

/*----main background and container---*/

.main-bg{
    min-height: 150vh;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    z-index: 0;
    opacity:0.8;
    animation: fadeBg 2s ease-in;
}

.main-bg::before {
    content: "";
    position: absolute;
    top: 10%;
    left: 0;
    width: 65%;
    height: 40%;
    background: rgba(0, 0, 0, 0.5);
    border-top-right-radius: 300px;
    border-bottom-right-radius: 300px;
    transform: translateX(-100%);
    transition: transform 0.6s ease;
}

.main-bg > * {
    position: relative;
    z-index: 1;
}

.main-pfp-container{
    display: grid;
    grid-template-columns: 0.5fr 0.9fr;
    gap: 40px;
    margin-top: 10%;
    padding-left: 60px;
    padding-right: 60px;
    align-items: center;
    justify-content: center;
    
}
/*---intro section---*/

.intro{
    opacity: 0;
    transform: translateX(-50px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.intro h2 {
    font-size: 2.5rem;
    color: white;
    margin-bottom: 10px;
}

.intro h3{
    font-size: 1.8rem;
    color: #E6E6E6;
    margin-bottom: 20px;
}
.intro p{
    font-size: 1.1rem;
    color:#E6E6E6;
    line-height: 1.6;
}
/*profile picture*/

.pfp-scene{
    cursor: pointer;
    position: relative;
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-pic{
    width: 300px;
    height: 300px;
    border-radius: 60%;
    object-fit:cover;
    box-shadow: 0 8px 20px rgba(0,0,0,0.5);
    z-index: 1;
}

.circle-bg{
    position: absolute;
    width: 350px;
    height: 350px;
    object-fit: contain;
    opacity: 0.5;
    z-index: 1;
}

.arrow{
    width: 200px;
    height: 200px;
    opacity: 0.6;
}
.pfp-arrow{
    display: grid;
    justify-items: center;
    
    
}
/**animation and interaction*/
/*
.pfp-scene.slide-left{
    transform: translateX(400px);
}
*/
.main-bg.shift .intro{
    opacity: 1;
    transform: translateX(0);
}

.main-bg.shift::before {
    transform: translateX(0);
}

@keyframes fadeBg{
    from {opacity: 0;}
    to {opacity: 1;}
}


.main-pfp{
    width: 100%;
    height: 100vh;
    margin-left: 80px;
    padding-right: 100px;

}












