html,body{
    background-color: #6F8F72;
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}
.header{
    display: grid;
    justify-content: center;
    background-color: transparent;
   
}
.Myportfolio{
    display: flex;
    justify-content: center;
}
.container{
    background-color: #6F8F72;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    opacity: 0.9;
    display: flex;
    padding: 20px;
}
.container nav{
    display: flex;
    gap: 100px;
}
.menu a{
    color: #E6E6E6;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: 1px solid transparent;
    transform-origin: color 0.3s ease, opacity 0.3s ease, font-weight 0.3s ease;
    transition : background-color 0.3s ease;
    color: 0.3s ease;
}
.menu a:hover{
    border: 1px solid #C0392B;
    color: black;
    font-weight: bold;
    opacity: 0.7;
}



.main-pfp{
    display: grid ;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin-left: 80px;
    padding-right: 100px;

}
.pfp-scene{
    
    display: grid;
    justify-items: center;
    cursor: pointer;
    transition: transform 0.8s ease;
}

.profile-pic{
    width: 300px;
    height: 300px;
    border-radius: 60%;
    object-fit:cover;
    box-shadow: 0 8px 20px rgba(0,0,0,0.5);
}
.intro{
    opacity: 0;
    transform: translateX(-50px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}
.main-bg{
    min-height: 150vh;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    z-index: 0;
    opacity:0.8;
    animation: fadeBg 2s ease-in;
}

@keyframes fadeBg{
    from {opacity: 0;}
    to {opacity: 1;}
}
.main-bg::before {
    content: "";
    position: absolute;
    top: 10%;
    left: 0;
    width: 70%;
    height: 40%;
    background: rgba(0, 0, 0, 0.5);
    border-top-right-radius: 400px;
    border-bottom-right-radius: 400px;
    
    transform: translateX(-100%);
    transition: transform 0.6s ease;
}
.main-bg.shift .intro{
    opacity: 1;
    transform: translateX(0);
}
/* when JS adds "shift" */
.main-bg.shift::before {
    transform: translateX(0);
}


.main-bg > * {
    position: relative;
    z-index: 1;
}